.countdown {
  min-width: 286px;
  text-align: center;
  background: #141e1c;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 10px 0;
}

.countdowt-title {
  font: 600 18px "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}

.labels {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 240px;
  padding: 0;
  margin: 0 auto;
}

.labels-item {
  position: relative;
  font: 700 26px "Montserrat", sans-serif;
  color: #fb6d3a;
  text-shadow: 1px 1px 0 #000;
  margin: 0 6px;
}

.labels-item .text {
  display: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.labels-item:not(:last-child):after {
  content: ":";
  position: absolute;
  top: -4%;
  left: 110%;
  font-weight: 500;
  color: #fff;
}

.digits {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .countdown {
    max-width: 300px;
  }

  .labels-item .text {
    display: blocks;
  }
}
